body {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
}

div.input-field {
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
    background-color: #F0F8FF;
    font-weight: bold;
}

span.field-name {
    display: inline-block;
    width: 100px;
}

input[type="text"] {
    padding: 5px;
    width: 280px;
}

button {
    padding: 10px;
    background-color: #0044AA;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

table {
    border: solid gray 1px;
}

td, th {
    padding: 10px;
}

th {
    background-color: #F0F8FF;
}