<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <RouterLink to="/new-sample">New Sample</RouterLink>
  &nbsp;
  <RouterLink to="/sample-list">Sample List</RouterLink>

  <hr />

  <RouterView />
</template>

<style scoped>

</style>
