<template>
  <div>
    <h1>New Sample</h1>
    <div>
        <div class="input-field">
            <span class="field-name">RES file</span>
            <FileUpload
                mode="basic"
                name="resFile"
                url="/api/uploadResFile"
                accept=""
                :maxFileSize="1000000"
                @upload="onUpload"
                :auto="true"
                chooseLabel="Browse"
            />
            <div>
                Uploaded file ID: {{ sample.resFileId }}
            </div>
        </div>
        <div class="input-field">
            <span class="field-name">Reflection</span>
            <input type="text" v-model="sample.reflection" placeholder="" />
        </div>
        <div class="input-field">
            <span class="field-name">Phi0</span>
            <input type="text" v-model="sample.phi0" placeholder="" />
        </div>
        <div class="input-field">
            <span class="field-name">Description</span>
            <input type="text" v-model="sample.description" placeholder="" />
        </div>
        <div>
            <button @click="submit()" class="login">Upload</button>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewSample",
  data() {
    return {
        sample: {
            resFileId: 0,
            reflection: '',
            phi0: 0.0,
            description: ''
        }
    }
  },
  methods: {
    onUpload(event) {
        console.log('On upload ...')
        // this.sample.resFileId = event.xhr.response.resFileId
        let resp = JSON.parse(event.xhr.response)
        this.sample.resFileId = resp.resFileId
    },
    submit() {
        console.log('Submit ...')
        const response = fetch('/api/createSample', {
            method: 'POST',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                sample: this.sample
            })
        })
        console.log(response)
        this.$router.push({'name': 'sample-list'});
    }
  }
}
</script>

<style>

</style>
