<template>
  <div>
    <h1>Sample List</h1>
    <div>
      <table>
        <tr>
          <th>ID</th>
          <th>RES file ID</th>
          <th>Reflection</th>
          <th>Phi0</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        <tr v-for="sample in samples" v-bind:key="sample.id">
          <td>{{ sample.id }}</td>
          <td>{{ sample.resFileId }}</td>
          <td>{{ sample.reflection }}</td>
          <td>{{ sample.phi0 }}</td>
          <td>{{ sample.description }}</td>
          <td>{{ sample.status }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "SampleList",
  data() {
    return {
      samples: []
    }
  },
  created() {
    this.collectSamples()
    this.interval = setInterval(this.collectSamples, 5000)
  },
  beforeDestroy() {
    clearInterval(this.interval)
  },
  methods: {
    collectSamples () {
      fetch('/api/collectSamples', {
        method: "GET",
        headers: {
          /* "Authorization": this.token, */
          "Content-type": "application/json;charset=UTF-8"
        }
      })
      .then(response => response.json())
      .then((json) => {
        console.log(json);
        this.samples = json['samples'];
      })
      .catch(err => console.log(err));
    }
  }
}
</script>

<style>

</style>
